@use "./variable/" as *;
@use "./function/" as *;
@use "./reset";
@use "./icon";
@use "./keyframe";

@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playball&display=swap');

@font-face {
    font-family: "Sakitu Baelah";
    src: url(../webfonts/Sakitu\ Baelah.otf)
}

/* 導覽列 */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $space-m;
    z-index: $z-ex;

    .logo {
        display: block;
        width: 65px;
    }

    .navigation {
        ul {
            display: flex;
            justify-content: flex-end;
        }

        .icon {
            a {
                width: 35px;
                height: 35px;
                margin: 0 5px;
                transition: $speed-fast;
            }
        }

        .menu {
            @include glassmorphism;
            display: flex;
            align-items: center;

            a.active {
                color: $color-black;
            }

            a {
                margin: $space-s;
                padding: $space-y-s;
                border-bottom: $border-m $alpha;
                transition: $speed-fast;

                &:hover {
                    border-bottom: $border-m $color-deep;
                }

            }
        }

    }

}



// 共用標題
.title {
    margin-bottom: $space-m;

    h2 {
        position: relative;
        font-family: $font-en;
        font-size: $font-size-xxxxl;
        line-height: $line-h-s !important;
        border-bottom: $border-l $color-black;

        &::before {
            content: "";
            position: absolute;
            left: -8;
            top: 5;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: $radius-ex;
            background-color: $color-lesser4;
        }

        &::after {
            content: "";
            position: absolute;
            right: -10px;
            bottom: 5px;
            display: block;
            width: 8px;
            height: 8px;
            border-radius: $radius-ex;
            background-color: $color-lesser4;
        }
    }

    h3 {
        font-family: $font-title;
        font-size: $font-size-m;
        text-align: center;
    }

}


//首頁主要內容區 
main {
    &.index {
        section {
            @extend %flex-center;
            flex-direction: column;
            height: 100vh;
        }
    }
}


#banner {
    background: url("../images/banner.jpg") no-repeat center/cover;
}

#news {
    background-color: $color-bg1;

    .box-list {
        @extend %box-list;

        .item {

            @media($media-md) {
                &:last-child {
                    display: none;
                }
            }

            @media($media-sm) {
                &:nth-child(n+2) {
                    display: none;
                }
            }

            figure {
                height: 30vh;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }

            .content {
                padding: $space-m;
                transition: $speed-slow;

                h2 {
                    @include title-m;
                    margin: $space-y-m;
                }

                p {
                    @extend %multiple-line;
                    -webkit-line-clamp: 5;
                }
            }

            &:hover {
                figure {
                    position: relative;

                    // filter:brightness(70%);
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        animation: fade-b $speed-slow both;
                    }
                }

                .content {
                    background-color: $color-light;
                }
            }
        }
    }
}

#service {
    background-color: $color-bg2;

    .box-list {
        @extend %box-list;

        @media ($media-md) {
            flex-direction: column;
            height: 65vh;

            .item {
                &:last-child {
                    display: none;
                }
            }
        }

        @media ($media-sm) {
            .item {
                &:nth-child(n+3) {
                    display: none;
                }
            }

        }

        .item {
            height: 60vh;
            @extend %bg-cover;
            position: relative;

            &:nth-child(1) {
                background-image: url(../images/pt_svc1.jpg);
            }

            &:nth-child(2) {
                background-image: url(../images/pt_svc2.jpg);
            }

            &:nth-child(3) {
                background-image: url(../images/pt_svc3.jpg);
            }

            &:nth-child(4) {
                background-image: url(../images/pt_svc4.jpg);
            }

            a {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%; //預設為hug,改為fill(w100%)
                color: $color-light;
                background-color: $alpha-b60;
                padding: $space-xy-m;
                transition: $speed-slow; //設定在爸爸身上


                &:hover {
                    color: $alpha-b60;
                    background-color: $alpha-w50;
                }

                p {
                    @extend %single-line;
                }
            }

        }
    }



}

#about {
    position: relative;
    background-color: $alpha-p60; //統一色調方法:迭加半透明色彩

    div {
        @extend %flex-center;
        flex-direction: column;
        background-color: $alpha-w50;
        width: 60%; //flex主軸垂直,預設w為fill
        height: 100%; //flex主軸垂直,預設h為hug

        .content {
            width: 60%;
            height: 60vh;
            overflow: auto;
        }
    }

    video {
        position: absolute;
        z-index: $z-bg;
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: brightness(110%) opacity(60%);
    }
}

#video {
    background-color: $color-bg3;

    @media ($media-md) {
        height: auto;
        padding: $space-y-l-vh;
    }

    div {
        height: 60vh;

        @media ($media-md) {
            width: 80%;
            height: auto;
        }

        video {
            height: 100%;

            @media ($media-md) {
                width: 100%;
                height: auto;
            }

        }
    }
}

#contact {
    position: relative;
    overflow: hidden;
    @extend %bg-cover;
    background-image: url(../images/bg_contact.jpg);
    background-attachment: fixed; //行動裝置無用

    @media($media-lg) {
        background-attachment: scroll; //行動裝置能正常顯示
    }

    @media($media-sm) {
        background-attachment: scroll; //行動裝置能正常顯示
    }

    #contact-form {
        width: 32%;

        @media ($media-lg) {
            width: 50%;
        }

        @media ($media-sm) {
            width: 70%;
        }


        * {
            display: block;
            width: 100%;
        }

        label {
            font-size: $font-size-xs;
            padding-top: $space-m;
        }

        input,
        textarea {
            @extend %input-style
        }

        small {
            margin: $space-y-m;
            font-size: $font-size-xs;
        }

        button {
            @extend %btn-form;
            margin: $space-x-a;
            @include glassmorphism;

            &:hover {
                animation: rotate 0.7s ease-in-out both;

                span {
                    animation: storm 0.7s ease-in-out both;
                    animation-delay: 0.06s;
                }
            }
        }
    }

    div {
        position: absolute;

        @media ($media-sm) {
            display: none;
        }
    }

    .flower_1 {
        bottom: -50px;
        left: 0;
        width: 25vw; //不管父元素 相對於視窗高度
        transform: rotate(45deg);

        @media ($media-lg) {
            left: -20px;
            width: 35vw;
        }
    }

    .flower_2 {
        top: 5vh; //不管父元素 相對於視窗高度
        bottom: 50;
        right: 0;
        width: 25vw;
        transform: rotate(-45deg);

        @media ($media-lg) {
            top: 2vh;
            width: 38vw;
        }
    }


}