.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header, main, footer {
  width: 100%;
}

header {
  padding: 20px 0;
  background-color: $color-bg1;
}

footer {
  padding: 40px 0;
  background-color: $color-bg2;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}