//  Color Variables

// Neutral
$color-light-gray: #CACACA;
$color-gray: #8F8F8F;
$color-dark-gray: #75716C;
$color-black: #5F5C58;

// Main Colors
$color-plum-yellow: #FAD16B; // 香檸黃
$color-milk-white: #F7F2EA; // 奶白色
$color-deep-sea: #1E3F66; // 深海藍
$color-deep-gray: #403E3C; // 深咖灰
$color-light-yellow: #FFE9B1;
$color-mellow-yellow: #FFE39C;

$color-bg1: #F7F2EA;
// Area Colors
$color-asia: #F49F6A;
$color-europe: #758FB1;
$color-north-america: #F5C25F;
$color-africa: #C79C81;
$color-south-america: #68AF9D;
$color-oceania: #80C1D2;
$color-antarctica: #D7ECF3;


// 字體
// 英文標題
$font-en-title: 'Inknut Antiqua', serif;

// 中文標題 & 內文：都使用 Noto Sans TC
$font-zh-title: 'Noto Sans TC', sans-serif;
$font-zh-body: 'Noto Sans TC', sans-serif;

// 統一命名用法
$font-title: $font-zh-title;
$font-body: $font-zh-body;
$font-en: $font-en-title;

// 字號
$font-size-xs: 0.875rem; // 14px
$font-size-s: 1rem; //16px
$font-size-m: 1.25rem; // 20px
$font-size-l: 1.5rem; // 24px
$font-size-xl: 2rem; // 32px
$font-size-xxl: 3rem; // 48px
$font-size-hero-en: 4.375rem; // 70px
$font-size-hero-zh: 3.125rem; // 50px

//字重
$font-weight-regular: 400;

// 間距
$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 3rem;

// 通用設定
$line-height-base: 1.5;
$letter-spacing-en: 0.05em;
$letter-spacing-zh: 0.1em;

// 邊框、圓角
$radius-ex: 50%;
$border-m: 2px solid;
$border-l: 4px solid;

// 動畫速度
$speed-fast: 0.2s;


// Breakpoints
$breakpoint-desktop: 1440px;
$breakpoint-wide: 1920px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile-landscape: 820px;
$breakpoint-mobile: 640px;