@use "../variable/" as*;
@use "../function/mixin" as*;

// 繼承extend%(直接匯入不需調用)
//rwd樣式不同 不可使用
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%input-style {
    border: 1px solid $color-lesser3;
    border-radius: $radius-s;
    padding: 4px;

    &::placeholder {
        color: $color-lesser2;
        font-size: $font-size-xs;
    }

    &:focus {
        outline: 2px solid $color-lesser4;
    }
}

%btn-form {
    // position: relative;
    // outline: none;
    // text-decoration: none;
    border-radius: $radius-ex;
    // 讓子元素置中
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    // text-transform: uppercase;
    height: 60px;
    width: 210px;
    // opacity: 1;
    // 修改button預設樣式
    background-color: #ffffff;
    border: 1px solid $color-lesser3;

    span {
        color: #164ca7;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.7px;
        color: $color-lesser4;
    }

}

%bg-cover {
    background-position: center; //預設定位左上角,超過時剪裁右下角,center剪裁四邊
    background-size: cover; //fill超過比例自動剪裁
    background-repeat:no-repeat;
}

// 多行省略
%multiple-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

// 單行省略
%single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 列表容器
%box-list {
        display: flex;
        width: 80%;
        max-width: 1360px;

        .item {
            flex: 1;
            margin: $space-xy-m;
            border-radius: $radius-l;
            overflow: hidden; //clip會影響單行省略
            @include bordered
    }
}