@use '../styles/variables' as *;

// SectionHero.scss
.section-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .hero-logo-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    z-index: 2;
  }

  .hero-logo-container {
    position: relative;
    width: 550px;
    max-width: 80vw;
    height: auto;
    transform: translateY(-36px);

    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 1s ease;
    }

    .fade-in {
      opacity: 1;
      animation: fadeIn 1s ease forwards;
    }

    .fade-out {
      animation: fadeOut 2s ease forwards;
    }

    .spatula {
      animation-delay: 0s;
      z-index: 1;
    }

    .fade-in-text {
      animation: fadeText 1.2s ease forwards;
      z-index: 2;
    }
  }

  .hero-slogan {
    min-height: 30px;
    font-size: $font-size-m;
    letter-spacing: $space-s;
    color: #fff;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease;
    margin-top: 190px;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: $breakpoint-mobile) {
  .hero-slogan {
    font-size: $font-size-s;
    letter-spacing: $space-xs;
    margin-top: 80px;
    white-space: normal;
    max-width: 240px;
    line-height: 2;
  }
}


  .scroll-hint {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    z-index: 2;
    opacity: 0;
    animation: fadeInHint 1s ease forwards;
    animation-delay: 5s;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      opacity: 0;
      visibility: hidden;
    }

    .scroll-1 {
      animation: showHint1 1.2s infinite steps(2, end);
      animation-delay: 5s;
    }

    .scroll-2 {
      animation: showHint2 1.2s infinite steps(2, end);
      animation-delay: 5s;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeText {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInHint {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showHint1 {
  0%, 49% {
    opacity: 1;
    visibility: visible;
  }
  50%, 100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes showHint2 {
  0%, 49% {
    opacity: 0;
    visibility: hidden;
  }
  50%, 100% {
    opacity: 1;
    visibility: visible;
  }
}